# Node modules
frontend/node_modules/
# Build outputs
frontend/dist/
# IDEs
*.log
*.iml
.idea/
.vscode/

# Java
**/target/
**/.classpath
**/.project
**/.settings/

# OS
.DS_Store
Thumbs.db
